ClientIntegrationApp/ClientIntegrationApp/Service References/IntegrationServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfIntegrationServiceLibrary/IntegrationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfIntegrationServiceLibrary" />
  <xs:element name="buscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfIntegrationServiceLibrary" minOccurs="0" name="buscarClienteResult" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataNascimento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numeroCelular" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="atualizarClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornaClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retornaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfIntegrationServiceLibrary" minOccurs="0" name="retornaClientesResult" nillable="true" type="q2:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>